@font-face {
  font-family: Normal;
  src: url(onts/AlfaSlabOne-Regular.ttf);
}
@font-face {
  font-family: Title;
  src: url(Fonts/SpicyRice-Regular.ttf);
}
@font-face {
  font-family: Price;
  src: url(Fonts/PatuaOne-Regular.ttf);
}
@font-face {
  font-family: Regular;
  src: url(Fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: Fancy;
  src: url(Fonts/Jomhuria-Regular.ttf);
}
@font-face {
  font-family: Cursive;
  src: url(Fonts/Sevillana/Sevillana-Regular.ttf);
}
h2{
  margin-bottom: 0;
}
body{
  background-image: url(IMG/5.jpg);
  background-size: cover;
}
.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
h1, h2{
  font-family: title;
}
h1, h2, h3, h4, p {
  text-align: center;
}
.established {
  font-style: italic;
}
.product{
  font-family: regular;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;  
}
.hot{
  text-align: right;
  margin-left: 30em;
  margin-right: 3em;
}
.cold{
  text-align: right;
}
.bread, .coffee{
  font-weight: bold;
  margin: 0;
}
.price{
  font-family: price;
  color: black;
  margin: 0;
}
hr{
  height: 2px;
  background-color: black;
  border-color: black ;
}
#box{
  width: 600px;
  height: auto;
  box-shadow:3px 3px 5px ;
}
a{
  text-align: center;
  color: black;
}
h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
  margin-bottom: 0;
}
h4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;
}
#info{
  text-align: left;

}

#submit{
  background-color: rgb(76, 190, 243);
  border-radius: 0px;
  border-style: outset;
  color: black;
  padding: 3px;
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
}

.submit{
  display: flex;
  align-items: center;
  padding: 2px 50px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border:none;
  border-radius: 50px;
  background: linear-gradient(270deg, rgb(134, 104, 20),rgb(187, 157, 24)) ;
  cursor: pointer;
}
.submit:hover{
  color: rgb(228, 218, 163);
  background-color: #666;

}
.wrapper{
  margin-top: 0;
  text-align: center;
}
h1::before{
  content: "☕";

}
.coffeemenu h2::before{
  content: "☕";
}
.breadmenu h2::before{
  content: "🥐";
}
p::before{
  content: "🍽";
}